@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'GmarketSansMedium';
}

h1 {
  text-align: center;
}

#todo-list {
  width: 500px;
  margin: 60px auto;
  height: 500px;
  background: #eee;
  overflow: auto;  /* 스크롤바 꾸미기! */
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgb(183, 183, 183);
}

#todo-list::-webkit-scrollbar {
  width: 10px;
}
#todo-list::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.container::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

form, .todo {
  /* border: 1px solid rgb(255, 255, 255); */
  padding: 10px 20px;
  margin: 0 20px 10px 30px;
  width: 400px;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

form input {
  padding: 4px 8px;
  flex-grow: 1;
  margin-right: 16px;
}

.todo {
  display: flex;
  flex-direction: column;
}

button {
  font-size: 16px;
  background-color: #7eb2ff;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  height: 45px;
}

button:hover {
  background-color: rgb(28, 93, 173);
}

button:active {
  background-color: rgb(21, 61, 130);
}

button:focus {
  outline: 0;
}

input[type='text'] { font-size: 20px; font-family: monospace; }
.todo input[type="checkbox"] {
  transform: scale(1.8) translateY(1px);
  margin: 0px 16px 0 0;
  cursor: pointer;
}

.todo-text input {
  padding: 4px;
}

.todo-text {
  font-size: 20px;
  line-height: 24px;
  margin-top: 13px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  width: 350px;
}

.todo-completed {
  display: flex;
  margin: 10px 0;
}

.todo-actions {
  display: flex;
}

.todo-item {
  display: flex;
}

.todo-actions-margin {
  width: 15px;
}